@media screen and (min-width: 700px) {
    html { font-size: 18px; }
}
@media screen and (max-width: 700px) and (min-width: 405px) {
    html { font-size: 14px; }
}
@media screen and (max-width: 405px) {
    html { font-size: 15px; }
}
@media screen and (max-width: 380px) {
    html { font-size: 14px; }
}
@media screen and (max-width: 355px) {
    html { font-size: 13px; }
}
@media screen and (max-width: 330px) {
    html { font-size: 12px; }
}

* {
    font-family: "Helvetica", "Microsoft JhengHei";
}
body {
    margin: 0;
    padding: 0;
    background-color: #f2f2f2;
}

#menu-College-of-Engineering,
#menu-College-of-Business,
#menu-College-of-Communication,
#menu-College-of-Humanities {
    display: none;
}
#btn-College-of-Engineering:checked ~ #menu-College-of-Engineering,
#btn-College-of-Business:checked ~ #menu-College-of-Business,
#btn-College-of-Communication:checked ~ #menu-College-of-Communication,
#btn-College-of-Humanities:checked ~ #menu-College-of-Humanities {
    display: block;
}

.w55p { width: 55%; }
.w45p { width: 45%; }
.pb2 { padding-bottom: 2px; }
.fz1r { font-size: 1rem; }
.fz875dr { font-size: 0.875rem; }
.fz75dr { font-size: 0.75rem; }
.c999999 { color: #999999; }

.sr-only {
    position: absolute;
    opacity: 0;
}
.btn {
    display: inline-block;
    box-sizing: border-box;
    height: 34px;
    padding: 0 8px;
    
    font-size: 16px;
    font-weight: 500;
    line-height: 34px;
    text-align: center;
    
    white-space: nowrap;
}
.btn-sm {
    margin: 6px 5px;
    border: 1px solid #2163e8;
    border-radius: 16px;
    background-color: #fff;
    color: #2163e8;
}
.btn-md {
    width: 47%;
    margin: 2px;
    color: #2163e8;
    border: 1px solid #46a3ff;
    border-radius: 4px;
}
.btn-lg {
    width: 100%;
    border-radius: 6px;
    background-color: #2163ff;
    color: #fff;
    box-shadow: 0px 3px 12px 0px rgba(0, 0, 0, 0.08);
}
.sr-only:focus-visible + .btn {
    box-shadow: 0 0 0 2px #fff,
                0 0 2px 4px #2163ff;
    outline: 1px dotted transparent;
    outline-offset: 2px;
}
.sr-only:checked + .btn-sm {
    background-color: #2163e8;
    color: #fff;
}
.sr-only:checked + .btn-md {
    background-color: #6ab5ff;
    color: #fff;
}
.sr-only:active + .btn-lg {
    background-color: #1e59e5;
}

.header {
    padding: 2px 16px 0;
}
.header__title {
    font-size: 2.3rem;
    text-align: center;
    font-weight: 700;
}

.form {
    font-size: 16px;
    box-sizing: border-box;
    width: 90%;
    margin: 10px auto;
    padding: 1px 3%;
    border-radius: 8px;
    box-shadow: 0px 3px 12px 0px rgba(0, 0, 0, 0.08);
    background-color: #fff;
}
.form__container {
    box-sizing: border-box;
    width: 100%;
    margin: 8px auto;
    border-radius: 6px;
    box-shadow: 0px 3px 12px 0px rgba(0, 0, 0, 0.08);
    text-align: center;
}
.form__item {
    box-sizing: border-box;
    padding: 4px 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.05);
}
.from__content {
    box-sizing: border-box;
    padding: 4px 5px;
}

.card {
    width: 84%;
    margin: 8px auto;
    border-radius: 8px;
    box-shadow: 0px 3px 12px 0px rgba(0, 0, 0, 0.08);
    background-color: #fff;
}
.card__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.card__container--title {
    padding: 6px 3%;
    border-bottom: 1px solid rgba(0, 0, 0, 0.05);
    font-weight: 700;
}
.card__container--content {
    padding: 4px 5%;
    text-align: center;
}
.card__item__label {
    box-sizing: border-box;
    padding: 2px 2%;
    font-size: 0.875rem;
    background-color: #ecf5ff;
    border-radius: 16px;
    color: #7FB2FF;
}

@media screen and (min-width: 768px) {
    .media_flex {
        display: flex;
    }
    .media_iflex {
        display: inline-flex;
    }
    .media_w50p {
        width: 50%;
    }
    .btn-md {
        width: 23%;
    }
}

@media screen and (min-width: 640px) {
    .media640_flex { display: flex; }
    .media640_w50p { width: 50%; }
}