.nav {
    display: flex;
    padding: 0 0.2rem;
    background-color: #0099ff;
}

.nav__win {
    display: flex;
    flex-grow: 1;
    justify-content: flex-end;
}

.nav__link {
    padding: 12px 16px;
    text-decoration: none;
    color: #ffffff;
    font-weight: 600;
}

.nav__link--state:is(:link, :visited, :hover, :active) {
    text-decoration: none;
}

.nav__link--state:focus-visible {
    outline: 2px solid #515767;
    outline-offset: -2px;
}

.nav__link--state:hover {
    background-color: #2a9fd5;
}

.nav__link--state:active {
    background-color: #258dbd;
}



html, body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
}

main {
    flex-grow: 1;
}

footer {
    background-color: #484e5c;
    text-align: center;
    padding: 12px 0;
    color: #ffffff;
}



@media screen and (min-width: 769px) {
    .nav {
        padding: 0 16%;
    }
}
@media screen and (max-width: 768px) {
    .nav__link {
        padding: 12px 0.6rem;
        font-size: 0.82rem;
        font-weight: 500;
    }
    footer {
        font-size: 0.76rem;
    }
}