@media screen and (max-width: 576px) {
    html { font-size: 12px; }
}
@media screen and (min-width: 576px) {
    html { font-size: 14px; }
}
@media screen and (min-width: 768px) {
    html { font-size: 14px; }
}
@media screen and (min-width: 992px) {
    html { font-size: 16px; }
}
@media screen and (min-width: 1200px) {
    html { font-size: 16px; }
}
@media screen and (min-width: 1400px) {
    html { font-size: 16px; }
}

* {
    font-family: "Helvetica", "Microsoft JhengHei";
    box-sizing: border-box;
}
body {
    margin: 0;
    padding: 0;
    background-color: #f2f2f2;
}
.sr-only {
    position: absolute;
    opacity: 0;
}

.form {
    margin: 10px auto;
    background-color: #ffffff;
    font-size: 16px;
}
.form__container {
    display: flex;
    border-bottom: 1px solid rgba(0, 0, 0, 0.08);
}
.form__btn-filter {
    display: block;
    width: 100%;
    text-align: center;
    line-height: 20px;
    color: #6a6a6a;
    padding: 6px 16.5px 6px 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.08);
    position: relative;
}
.form__btn-filter::after {
    content: "";
    width: 7px;
    height: 7px;
    position: absolute;
    top: 50%;
    border: 2px solid #6a6a6a;
    border-radius: 1px;
    border-right: 0;
    border-top: 0;
    transform: translate(50%, -25%) rotate(135deg);
    transition: transform .6s ease;
}
.form__container__department {
    display: flex;
}
.form__container__btn {
    line-height: 20px;
    border: 1px solid #2163e8;
    border-radius: 16px;
    color: #2163e8;
}
.form__submit {
    line-height: 20px;
    background-color: #2163ff;
    color: #ffffff;
}
@media screen and (min-width: 992px), (any-hover: hover) {
    .sr-only:hover + .form__container__menu-btn,
    .sr-only:hover + .form__container__btn,
    .sr-only:hover + .form__submit {
        cursor: pointer;
    }
    .sr-only:hover + .form__btn-filter {
        background-color: rgba(44, 62, 80, .03);
        cursor: pointer;
    }
}
.sr-only:focus-visible + .form__container__menu-btn,
.sr-only:focus-visible + .form__btn-filter,
.sr-only:focus-visible + .form__container__btn,
.sr-only:focus-visible + .form__submit {
    outline: 3px solid #0085f2;
    outline-offset: 2px;
}
.sr-only:checked + .form__container__menu-btn,
.sr-only:checked + .form__container__btn {
    background-color: #2163e8;
    color: #ffffff;
}
.sr-only:checked + .form__btn-filter {
    background-color: rgba(44, 62, 80, .03);
    border-bottom: 0;
    color: #2163e8;
}
.sr-only:checked + .form__btn-filter::after {
    border-color: #2163e8;
    transform: translate(50%, -75%) rotate(315deg);
}
.sr-only:active + .form__submit {
    background-color: #1e59e5;
}
#btn-filter ~ .form__caption,
#btn-filter ~ .form__container {
    max-height: 0;
    opacity: 0;
    transition: opacity 1s ease;
    overflow: hidden;
}
#btn-filter:not(:checked) ~ .form__caption,
#btn-filter:not(:checked) ~ .form__container {
    visibility: hidden;
    padding: 0;
    border-bottom: 0;
}
#btn-filter:checked ~ .form__caption,
#btn-filter:checked ~ .form__container {
    max-height: 150px;
    opacity: 1;
}

.card {
    display: flex;
    background-color: #fff;
    text-align: center;
    line-height: 20px;
}
.card__name {
    text-align: left;
}

@media screen and (max-width: 991.98px) {
    .form {
        text-align: center;
    }
    .form__caption {
        padding: 4px 0 0;
    }
    .form__container {
        flex-wrap: wrap;
        justify-content: center;
        padding: 4px 0;
    }
    .form__container__department {
        flex-wrap: wrap;
        justify-content: center;
        width: 100%;
    }
    .form__container__menu-btn {
        width: 46%;
        padding: 4px 0;
        margin: 2px 1%;
        line-height: 20px;
        border: 1px solid #2163e8;
        border-radius: 4px;
        color: #2163e8;
    }
    #menu-engineering,
    #menu-business,
    #menu-communication,
    #menu-humanities {
        max-height: 0;
        opacity: 0;
        transition: opacity 1s ease;
        overflow: hidden;
    }
    #btn-engineering:checked ~ #menu-engineering,
    #btn-business:checked ~ #menu-business,
    #btn-communication:checked ~ #menu-communication,
    #btn-humanities:checked ~ #menu-humanities {
        max-height: 150px;
        opacity: 1;
    }
    .form__container__btn {
        padding: 6px 8px;
        margin: 6px 5px;
    }
    .form__submit {
        width: 96%;
        padding: 6px 0;
        margin: 6px auto;
        border-radius: 4px;
    }
    @media screen and (min-width: 768px) {
        .form__container__menu-btn {
            width: 23%;
            padding: 6px 0;
            margin: 2px 0.5%;
        }
    }

    .card {
        flex-wrap: wrap;
        width: 86%;
        margin: 8px auto;
        border-radius: 8px;
    }
    .card--hide-moblie {
        display: none;
    }
    .card__name {
        width: 70%;
        padding: 4px 0 4px 10px;
        margin: 0 0 6px;
        border-bottom: 1px solid rgba(0, 0, 0, 0.05);
        font-weight: 600;
        font-size: 1.2rem;
    }
    .card__type {
        width: 30%;
        display: flex;
        justify-content: right;
        padding: 4px 10px 4px 0;
        margin: 0 0 6px;
        border-bottom: 1px solid rgba(0, 0, 0, 0.05);
    }
    .card__type--inside {
        background-color: rgba(30, 128, 255, 0.1);
        color: #2163e8;
        border-radius: 16px;
        padding: 2px 6px;
        font-size: 1rem;
        font-weight: 600;        
    }
    .card__item--lg {
        width: 55%;
    }
    .card__item--sm {
        width: 45%;
    }
    .card__caption {
        font-size: 1rem;
        color: #999999;
    }
    .card__content {
        font-size: 1.1rem;
        margin: 0 0 6px;
    }
    @media screen and (min-width: 576px) {
        .card__name {
            padding: 6px 0 6px 12px;
        }
        .card__type {
            padding: 6px 12px 6px 0;
        }
        .card__type--inside {
            padding: 4px 8px;
        }
    }
    @media screen and (min-width: 768px) {
        .card__name {
            padding: 6px 0 6px 16px;
        }
        .card__type {
            padding: 6px 16px 6px 0;
        }
        .card__caption,
        .card__content {
            width: 25%;
        }
        .card__content {
            order: 1;
        }
    }
}

@media screen and (min-width: 992px) {
    .form {
        width: 62%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        border-radius: 8px;
        min-width: 883px;
    }
    .form__caption {
        width: 16%;
        padding: 11px 4%;
        text-align: right;
        border-bottom: 1px solid rgba(0, 0, 0, 0.08);
        color: #6a6a6a;
        font-weight: 600;
    }
    .form__caption--large {
        padding: 76.4px 4%;
    }
    .form__container {
        width: 84%;
    }
    .form__container--direction {
        flex-direction: column;
    }
    #btn-engineering,
    #btn-business,
    #btn-communication,
    #btn-humanities,
    .form__container__menu-btn {
        display: none;
    }
    .form__container__btn {
        padding: 5px 8px;
        margin: 6px 7px;
    }
    .form__submit {
        padding: 6px 24px;
        margin: 12px 0;
        border-radius: 16px;
    }

    .card {
        width: 98%;
        padding: 16px 0;
        margin: 0 auto;
        border-bottom: 1px solid rgba(0, 0, 0, 0.05);
    }
    .card__caption {
        display: none;
    }
    .card__name {
        width: 32%;
        margin: 0 0 0 4.5%;
    }
    .card__credit {
        width: 5.5%;
        margin:0 1% 0 0;
    }
    .card__lecturer {
        order: 1;
        width: 15%;
    }
    .card__type {
        order: 2;
        width: 13.5%;
    }
    .card__class-field {
        order: 2;
        width: 16.5%;
    }
    .card__time {
        order: 2;
        width: 10.5%;
    }
    @media screen and (min-width: 1400px) {
        .card {
            width: 84%;
        }
    }
}